<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate [formGroup]="editForm">
      <h2 id="jhi-formular-heading" data-cy="FormularCreateUpdateHeading" jhiTranslate="diplomskiApp.formular.home.createOrEditLabel">
        Create or edit a Formular
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="diplomskiApp.formular.id" for="field_id">Id</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="diplomskiApp.formular.mesecUpisa" for="field_mesecUpisa">Mesec Upisa</label>
          <input
            type="number"
            class="form-control"
            name="mesecUpisa"
            id="field_mesecUpisa"
            data-cy="mesecUpisa"
            formControlName="mesecUpisa"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="diplomskiApp.formular.jmbg" for="field_jmbg">Jmbg</label>
          <input type="text" class="form-control" name="jmbg" id="field_jmbg" data-cy="jmbg" formControlName="jmbg" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="diplomskiApp.formular.datumRodjenja" for="field_datumRodjenja">Datum Rodjenja</label>
          <input
            type="text"
            class="form-control"
            name="datumRodjenja"
            id="field_datumRodjenja"
            data-cy="datumRodjenja"
            formControlName="datumRodjenja"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="diplomskiApp.formular.imeDeteta" for="field_imeDeteta">Ime Deteta</label>
          <input type="text" class="form-control" name="imeDeteta" id="field_imeDeteta" data-cy="imeDeteta" formControlName="imeDeteta" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="diplomskiApp.formular.mestoRodjenja" for="field_mestoRodjenja">Mesto Rodjenja</label>
          <input
            type="text"
            class="form-control"
            name="mestoRodjenja"
            id="field_mestoRodjenja"
            data-cy="mestoRodjenja"
            formControlName="mestoRodjenja"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="diplomskiApp.formular.opstinaRodjenja" for="field_opstinaRodjenja"
            >Opstina Rodjenja</label
          >
          <input
            type="text"
            class="form-control"
            name="opstinaRodjenja"
            id="field_opstinaRodjenja"
            data-cy="opstinaRodjenja"
            formControlName="opstinaRodjenja"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="diplomskiApp.formular.drzava" for="field_drzava">Drzava</label>
          <input type="text" class="form-control" name="drzava" id="field_drzava" data-cy="drzava" formControlName="drzava" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="diplomskiApp.formular.brDeceUPorodici" for="field_brDeceUPorodici"
            >Br Dece U Porodici</label
          >
          <input
            type="number"
            class="form-control"
            name="brDeceUPorodici"
            id="field_brDeceUPorodici"
            data-cy="brDeceUPorodici"
            formControlName="brDeceUPorodici"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="diplomskiApp.formular.zdravstveniProblemi" for="field_zdravstveniProblemi"
            >Zdravstveni Problemi</label
          >
          <input
            type="text"
            class="form-control"
            name="zdravstveniProblemi"
            id="field_zdravstveniProblemi"
            data-cy="zdravstveniProblemi"
            formControlName="zdravstveniProblemi"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="diplomskiApp.formular.zdravstveniUslovi" for="field_zdravstveniUslovi"
            >Zdravstveni Uslovi</label
          >
          <input
            type="text"
            class="form-control"
            name="zdravstveniUslovi"
            id="field_zdravstveniUslovi"
            data-cy="zdravstveniUslovi"
            formControlName="zdravstveniUslovi"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="diplomskiApp.formular.statusFormulara" for="field_statusFormulara"
            >Status Formulara</label
          >
          <select
            class="form-control"
            name="statusFormulara"
            formControlName="statusFormulara"
            id="field_statusFormulara"
            data-cy="statusFormulara"
          >
            <option [ngValue]="null">{{ 'diplomskiApp.StatusFormulara.null' | translate }}</option>
            <option *ngFor="let statusFormulara of statusFormularaValues" [value]="statusFormulara">
              {{ 'diplomskiApp.StatusFormulara.' + statusFormulara | translate }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="diplomskiApp.formular.tipGrupe" for="field_tipGrupe">Tip Grupe</label>
          <select class="form-control" name="tipGrupe" formControlName="tipGrupe" id="field_tipGrupe" data-cy="tipGrupe">
            <option [ngValue]="null">{{ 'diplomskiApp.TipGrupe.null' | translate }}</option>
            <option *ngFor="let tipGrupe of tipGrupeValues" [value]="tipGrupe">
              {{ 'diplomskiApp.TipGrupe.' + tipGrupe | translate }}
            </option>
          </select>
        </div>

        <div>
          <label class="col-form-label-lg"><u>Adresa: </u></label>
          <div class="row mb-3">
            <label class="form-label" for="field_mesto">Mesto: </label>
            <input type="text" class="form-control" name="mesto" id="field_mesto" data-cy="mesto" formControlName="mesto" />
          </div>
          <div class="row mb-3">
            <label class="form-label" for="field_ulica">Ulica: </label>
            <input type="text" class="form-control" name="ulica" id="field_ulica" data-cy="ulica" formControlName="ulica" />
          </div>
          <div class="row mb-3">
            <label class="form-label" for="field_broj">Broj: </label>
            <input type="text" class="form-control" name="broj" id="field_broj" data-cy="broj" formControlName="broj" />
          </div>
        </div>
      </div>
    </form>

    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editFormRoditelj2">
      <div>
        <label class="col-form-label-lg"><u>Podaci o prvom roditelju: </u></label>
        <div class="row mb-3">
          <label class="form-label" for="field_jmbg2">Jmbg</label>
          <input type="text" class="form-control" name="jmbg2" id="field_jmbg2" data-cy="jmbg2" formControlName="jmbg2" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_ime2">Ime</label>
          <input type="text" class="form-control" name="ime2" id="field_ime2" data-cy="ime2" formControlName="ime2" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_prezime2">Prezime</label>
          <input type="text" class="form-control" name="prezime2" id="field_prezime2" data-cy="prezime2" formControlName="prezime2" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_telefon2">Telefon</label>
          <input type="text" class="form-control" name="telefon2" id="field_telefon2" data-cy="telefon2" formControlName="telefon2" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_firma2">Firma</label>
          <input type="text" class="form-control" name="firma2" id="field_firma2" data-cy="firma2" formControlName="firma2" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_radnoVreme2">Radno Vreme</label>
          <input
            type="text"
            class="form-control"
            name="radnoVreme"
            id="field_radnoVreme2"
            data-cy="radnoVreme2"
            formControlName="radnoVreme2"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_radniStatus">Radni Status</label>
          <select class="form-control" name="radniStatus" formControlName="radniStatus2" id="field_radniStatus2" data-cy="radniStatus">
            <option [ngValue]="null">{{ 'diplomskiApp.RadniStatus.null' | translate }}</option>
            <option *ngFor="let radniStatus of radniStatusValues" [value]="radniStatus">
              {{ 'diplomskiApp.RadniStatus.' + radniStatus | translate }}
            </option>
          </select>
        </div>
      </div>
    </form>

    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editFormRoditelj1">
      <div>
        <label class="col-form-label-lg"><u>Podaci o drugom roditelju: </u></label>
        <div class="row mb-3">
          <label class="form-label" for="field_jmbg1">Jmbg</label>
          <input type="text" class="form-control" name="jmbg1" id="field_jmbg1" data-cy="jmbg1" formControlName="jmbg1" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_ime1">Ime</label>
          <input type="text" class="form-control" name="ime1" id="field_ime1" data-cy="ime1" formControlName="ime1" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_prezime1">Prezime</label>
          <input type="text" class="form-control" name="prezime1" id="field_prezime1" data-cy="prezime1" formControlName="prezime1" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_telefon1">Telefon</label>
          <input type="text" class="form-control" name="telefon1" id="field_telefon1" data-cy="telefon1" formControlName="telefon1" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_firma1">Firma</label>
          <input type="text" class="form-control" name="firma" id="field_firma1" data-cy="firma1" formControlName="firma1" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_radnoVreme1">Radno Vreme</label>
          <input
            type="text"
            class="form-control"
            name="radnoVreme1"
            id="field_radnoVreme1"
            data-cy="radnoVreme1"
            formControlName="radnoVreme1"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_radniStatus">Radni Status</label>
          <select class="form-control" name="radniStatus" formControlName="radniStatus1" id="field_radniStatus" data-cy="radniStatus">
            <option [ngValue]="null">{{ 'diplomskiApp.RadniStatus.null' | translate }}</option>
            <option *ngFor="let radniStatus of radniStatusValues" [value]="radniStatus">
              {{ 'diplomskiApp.RadniStatus.' + radniStatus | translate }}
            </option>
          </select>
        </div>
      </div>
    </form>

    <div>
      <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
        <fa-icon icon="ban"></fa-icon>&nbsp;<span>Otkazi promene</span>
      </button>

      <button
        (click)="save()"
        type="submit"
        id="save-entity"
        data-cy="entityCreateSaveButton"
        [disabled]="editForm.invalid || isSaving"
        class="btn btn-primary"
      >
        <fa-icon icon="save"></fa-icon>&nbsp;<span>Sacuvaj formular</span>
      </button>
    </div>
  </div>
</div>
