<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-adresa-heading" data-cy="AdresaCreateUpdateHeading" jhiTranslate="diplomskiApp.adresa.home.createOrEditLabel">
        Create or edit a Adresa
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="diplomskiApp.adresa.mesto" for="field_mesto">Mesto</label>
          <input type="text" class="form-control" name="mesto" id="field_mesto" data-cy="mesto" formControlName="mesto" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="diplomskiApp.adresa.ulica" for="field_ulica">Ulica</label>
          <input type="text" class="form-control" name="ulica" id="field_ulica" data-cy="ulica" formControlName="ulica" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="diplomskiApp.adresa.broj" for="field_broj">Broj</label>
          <input type="text" class="form-control" name="broj" id="field_broj" data-cy="broj" formControlName="broj" />
        </div>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="diplomskiApp.adresa.id" for="field_id">Id</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
