<div>
  <h2 id="page-heading" data-cy="PlanPriceHeading">
    <span jhiTranslate="diplomskiApp.planPrice.home.title">Plan Price</span>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="table-responsive" id="entities">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col">
            <span>Izvori Saznanja</span>
          </th>

          <th scope="col">
            <span>Pocetna Ideja</span>
          </th>

          <th scope="col">
            <span>Nacin Ucesca Vaspitaca</span>
          </th>
          <th scope="col">
            <span>Materijali</span>
          </th>
          <th scope="col">
            <span>Ucesce Porodice</span>
          </th>
          <th scope="col">
            <span>Mesta</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <textarea class="areaClass" id="w3review" name="w3review"></textarea>
          </td>
          <td><textarea class="areaClass" id="w1review" name="w3review"></textarea></td>
          <td><textarea class="areaClass" id="w2review" name="w3review"></textarea></td>
          <td><textarea class="areaClass" id="w4review" name="w3review"></textarea></td>
          <td><textarea class="areaClass" id="w5review" name="w3review"></textarea></td>
          <td class="text-end">
            <textarea class="areaClass" id="w6review" name="w3review"></textarea>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
