<div>
  <h2 id="page-heading" data-cy="KomentarNaPricuHeading">
    <span jhiTranslate="diplomskiApp.komentarNaPricu.home.title">Komentar Na Pricus</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="diplomskiApp.komentarNaPricu.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-komentar-na-pricu"
        [routerLink]="['/komentar-na-pricu/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="diplomskiApp.komentarNaPricu.home.createLabel"> Create a new Komentar Na Pricu </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="komentarNaPricus?.length === 0">
    <span jhiTranslate="diplomskiApp.komentarNaPricu.home.notFound">No komentarNaPricus found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="komentarNaPricus && komentarNaPricus.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="diplomskiApp.komentarNaPricu.id">Id</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="tekst">
            <span jhiTranslate="diplomskiApp.komentarNaPricu.tekst">Tekst</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="datum">
            <span jhiTranslate="diplomskiApp.komentarNaPricu.datum">Datum</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="prica.id">
            <span jhiTranslate="diplomskiApp.komentarNaPricu.prica">Prica</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let komentarNaPricu of komentarNaPricus; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/komentar-na-pricu', komentarNaPricu.id, 'view']">{{ komentarNaPricu.id }}</a>
          </td>
          <td>{{ komentarNaPricu.tekst }}</td>
          <td>{{ komentarNaPricu.datum | formatMediumDate }}</td>
          <td>
            <div *ngIf="komentarNaPricu.prica">
              <a [routerLink]="['/prica', komentarNaPricu.prica?.id, 'view']">{{ komentarNaPricu.prica?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/komentar-na-pricu', komentarNaPricu.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/komentar-na-pricu', komentarNaPricu.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(komentarNaPricu)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="komentarNaPricus && komentarNaPricus.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
