<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-grupa-heading" data-cy="GrupaCreateUpdateHeading" jhiTranslate="diplomskiApp.grupa.home.createOrEditLabel">
        Create or edit a Grupa
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="diplomskiApp.grupa.id" for="field_id">Id</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="diplomskiApp.grupa.tipGrupe" for="field_tipGrupe">Tip Grupe</label>
          <select class="form-control" name="tipGrupe" formControlName="tipGrupe" id="field_tipGrupe" data-cy="tipGrupe">
            <option [ngValue]="null">{{ 'diplomskiApp.TipGrupe.null' | translate }}</option>
            <option *ngFor="let tipGrupe of tipGrupeValues" [value]="tipGrupe">
              {{ 'diplomskiApp.TipGrupe.' + tipGrupe | translate }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Otkazi promene</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Sacuvaj</span>
        </button>
      </div>
    </form>
  </div>
</div>
