<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="vaspitac">
      <h2 data-cy="vaspitacDetailsHeading">
        <span> Vaspitac {{ vaspitac.user?.firstName }} {{ vaspitac.user?.lastName }}</span>
      </h2>
      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="diplomskiApp.vaspitac.datumZaposlenja">Datum Zaposlenja</span></dt>
        <dd>
          <span>{{ vaspitac.datumZaposlenja | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="diplomskiApp.vaspitac.godineIskustva">Godine Iskustva</span></dt>
        <dd>
          <span>{{ vaspitac.godineIskustva }}</span>
        </dd>
        <dt><span jhiTranslate="diplomskiApp.vaspitac.opis">Opis</span></dt>
        <dd>
          <span>{{ vaspitac.opis }}</span>
        </dd>
        <dt><span jhiTranslate="diplomskiApp.vaspitac.id">Id</span></dt>
        <dd>
          <span>{{ vaspitac.id }}</span>
        </dd>
        <dt><span jhiTranslate="diplomskiApp.vaspitac.objekat">Objekat</span></dt>
        <dd>
          <div *ngIf="vaspitac.objekat">
            <a [routerLink]="['/objekat', vaspitac.objekat?.id, 'view']">{{ vaspitac.objekat?.id }}</a>
          </div>
        </dd>
        <dt><span>Trenutno:</span></dt>
        <dd>
          <span>{{ vaspitac.status }}</span>
        </dd>
      </dl>
      <div *jhiHasAnyAuthority="'ROLE_DIREKTOR'">
        <div *ngIf="vaspitac.status === 'RADI'">
          <dt><span>Promena statusa u:</span></dt>
          <button type="submit" (click)="changeStatus('PENZIJA')" class="btn btn-info" data-cy="entityDetailsBackButton">
            <span>Penzija</span>
          </button>
          <button type="submit" (click)="changeStatus('OTKAZ')" class="btn btn-info" data-cy="entityDetailsBackButton">
            <span>Ne radi vise</span>
          </button>
        </div>
      </div>
      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Nazad</span>
      </button>

      <button type="submit" (click)="pregledVazecegDnevnika()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="book"></fa-icon>&nbsp;<span>Pregledaj dnevnik</span>
      </button>

      <button *jhiHasAnyAuthority="'ROLE_DIREKTOR'" type="button" [routerLink]="['/vaspitac', vaspitac.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Uredi</span>
      </button>
    </div>
  </div>
</div>
