<div>
  <h2 id="page-heading" data-cy="KorisnikHeading">
    <span jhiTranslate="diplomskiApp.korisnik.home.title">Korisniks</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="diplomskiApp.korisnik.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-korisnik"
        [routerLink]="['/korisnik/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="diplomskiApp.korisnik.home.createLabel"> Create a new Korisnik </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="korisniks?.length === 0">
    <span jhiTranslate="diplomskiApp.korisnik.home.notFound">No korisniks found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="korisniks && korisniks.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="korisnickoIme">
            <span jhiTranslate="diplomskiApp.korisnik.korisnickoIme">Korisnicko Ime</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="sifra">
            <span jhiTranslate="diplomskiApp.korisnik.sifra">Sifra</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="ime"><span jhiTranslate="diplomskiApp.korisnik.ime">Ime</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="prezime">
            <span jhiTranslate="diplomskiApp.korisnik.prezime">Prezime</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="id"><span jhiTranslate="diplomskiApp.korisnik.id">Id</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let korisnik of korisniks; trackBy: trackId" data-cy="entityTable">
          <td>{{ korisnik.korisnickoIme }}</td>
          <td>{{ korisnik.sifra }}</td>
          <td>{{ korisnik.ime }}</td>
          <td>{{ korisnik.prezime }}</td>
          <td>
            <a [routerLink]="['/korisnik', korisnik.id, 'view']">{{ korisnik.id }}</a>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/korisnik', korisnik.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/korisnik', korisnik.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(korisnik)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="korisniks && korisniks.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
