<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="direktor">
      <h2 data-cy="direktorDetailsHeading"><span jhiTranslate="diplomskiApp.direktor.detail.title">Direktor</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="diplomskiApp.direktor.id">Id</span></dt>
        <dd>
          <span>{{ direktor.id }}</span>
        </dd>
        <dt><span>Ime</span></dt>
        <dd>
          <span>{{ direktor.user?.firstName }}</span>
        </dd>
        <dt><span>Prezime</span></dt>
        <dd>
          <span>{{ direktor.user?.lastName }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button *jhiHasAnyAuthority="'ROLE_DIREKTOR'" type="button" [routerLink]="['/direktor', direktor.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
