<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="planPrice">
      <h2 data-cy="planPriceDetailsHeading"><span jhiTranslate="diplomskiApp.planPrice.detail.title">Plan Price</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="diplomskiApp.planPrice.id">Id</span></dt>
        <dd>
          <span>{{ planPrice.id }}</span>
        </dd>
        <dt><span jhiTranslate="diplomskiApp.planPrice.datumPocetka">Datum Pocetka</span></dt>
        <dd>
          <span>{{ planPrice.datumPocetka | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="diplomskiApp.planPrice.datumZavrsetka">Datum Zavrsetka</span></dt>
        <dd>
          <span>{{ planPrice.datumZavrsetka | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="diplomskiApp.planPrice.nazivTeme">Naziv Teme</span></dt>
        <dd>
          <span>{{ planPrice.nazivTeme }}</span>
        </dd>
        <dt><span jhiTranslate="diplomskiApp.planPrice.izvoriSaznanja">Izvori Saznanja</span></dt>
        <dd>
          <span>{{ planPrice.izvoriSaznanja }}</span>
        </dd>

        <dt><span jhiTranslate="diplomskiApp.planPrice.pocetnaIdeja">Pocetna Ideja</span></dt>
        <dd>
          <span>{{ planPrice.pocetnaIdeja }}</span>
        </dd>

        <dt><span jhiTranslate="diplomskiApp.planPrice.nacinUcescaVaspitaca">Nacin Ucesca Vaspitaca</span></dt>
        <dd>
          <span>{{ planPrice.nacinUcescaVaspitaca }}</span>
        </dd>
        <dt><span jhiTranslate="diplomskiApp.planPrice.materijali">Materijali</span></dt>
        <dd>
          <span>{{ planPrice.materijali }}</span>
        </dd>
        <dt><span jhiTranslate="diplomskiApp.planPrice.ucescePorodice">Ucesce Porodice</span></dt>
        <dd>
          <span>{{ planPrice.ucescePorodice }}</span>
        </dd>
        <dt><span jhiTranslate="diplomskiApp.planPrice.mesta">Mesta</span></dt>
        <dd>
          <span>{{ planPrice.mesta }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/plan-price', planPrice.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
