<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-objekat-heading" data-cy="ObjekatCreateUpdateHeading" jhiTranslate="diplomskiApp.objekat.home.createOrEditLabel">
        Create or edit a Objekat
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="diplomskiApp.objekat.opis" for="field_opis">Opis</label>
          <input type="text" class="form-control" name="opis" id="field_opis" data-cy="opis" formControlName="opis" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="diplomskiApp.objekat.naziv" for="field_naziv">Naziv</label>
          <input type="text" class="form-control" name="naziv" id="field_naziv" data-cy="naziv" formControlName="naziv" />
        </div>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="diplomskiApp.objekat.id" for="field_id">Id</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="diplomskiApp.objekat.adresa" for="field_adresa">Adresa</label>
          <select class="form-control" id="field_adresa" data-cy="adresa" name="adresa" formControlName="adresa">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="adresaOption.id === editForm.get('adresa')!.value?.id ? editForm.get('adresa')!.value : adresaOption"
              *ngFor="let adresaOption of adresasCollection; trackBy: trackAdresaById"
            >
              {{ adresaOption.ulica }} {{ adresaOption.broj }}
            </option>
          </select>
        </div>
      </div>

      <div class="img-space">
        <ng-container *ngIf="isImageSaved; else elseTemplate">
          <img style="width: 95px; height: 95%" [src]="url" alt="Image" id="realImg" />
        </ng-container>
        <ng-template #elseTemplate>
          <img
            style="max-width: 50%; max-height: 50%"
            src="assets/images/1176381.png"
            class="img-responsive"
            id="img-responsive"
            alt="Default image"
          />
        </ng-template>
        <input accept=".png, .jpg" type="file" id="file-upload" (change)="onFileSelected($event)" #fileInput />
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Otkazi promene</span>
        </button>

        <button id="jh-create-entity" data-cy="entityCreateButton" class="btn btn-info me-2 create-adresa" [routerLink]="['/adresa/new']">
          <fa-icon icon="plus"></fa-icon>
          <span> Dodaj novu adresu </span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Sacuvaj promene</span>
        </button>
      </div>
    </form>
  </div>
</div>
