<div>
  <h2 id="page-heading" data-cy="DnevnikHeading">
    <span jhiTranslate="diplomskiApp.dnevnik.home.title">Dnevniks</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="diplomskiApp.dnevnik.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-dnevnik"
        [routerLink]="['/dnevnik/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="diplomskiApp.dnevnik.home.createLabel"> Create a new Dnevnik </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="dnevniks?.length === 0">
    <span jhiTranslate="diplomskiApp.dnevnik.home.notFound">No dnevniks found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="dnevniks && dnevniks.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="pocetakVazenja">
            <span jhiTranslate="diplomskiApp.dnevnik.pocetakVazenja">Pocetak Vazenja</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="krajVazenja">
            <span jhiTranslate="diplomskiApp.dnevnik.krajVazenja">Kraj Vazenja</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="id"><span jhiTranslate="diplomskiApp.dnevnik.id">Id</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="grupa.id">
            <span jhiTranslate="diplomskiApp.dnevnik.grupa">Grupa</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dnevnik of dnevniks; trackBy: trackId" data-cy="entityTable">
          <td>{{ dnevnik.pocetakVazenja | formatMediumDate }}</td>
          <td>{{ dnevnik.krajVazenja | formatMediumDate }}</td>
          <td>
            <a [routerLink]="['/dnevnik', dnevnik.id, 'view']">{{ dnevnik.id }}</a>
          </td>
          <td>
            <div *ngIf="dnevnik.grupa">
              <a [routerLink]="['/grupa', dnevnik.grupa?.id, 'view']">{{ dnevnik.grupa?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/dnevnik', dnevnik.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">Prikaz</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/dnevnik', dnevnik.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Uredi</span>
              </button>

              <button type="submit" (click)="delete(dnevnik)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Brisanje</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="dnevniks && dnevniks.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
