<div>
  <h2 id="page-heading" data-cy="PedagogHeading">
    <span jhiTranslate="diplomskiApp.pedagog.home.title">Pedagogs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="diplomskiApp.pedagog.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-pedagog"
        [routerLink]="['/pedagog/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="diplomskiApp.pedagog.home.createLabel"> Create a new Pedagog </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="pedagogs?.length === 0">
    <span jhiTranslate="diplomskiApp.pedagog.home.notFound">No pedagogs found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="pedagogs && pedagogs.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="diplomskiApp.pedagog.id">Id</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="user.firstName"><span>Ime</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="user.lastName"><span>Prezime</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pedagog of pedagogs; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/pedagog', pedagog.id, 'view']">{{ pedagog.id }}</a>
          </td>
          <td>
            <a>{{ pedagog.user?.firstName }}</a>
          </td>
          <td>
            <a>{{ pedagog.user?.lastName }}</a>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/pedagog', pedagog.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">Prikaz</span>
              </button>

              <!--              <button-->
              <!--                type="submit"-->
              <!--                [routerLink]="['/pedagog', pedagog.id, 'edit']"-->
              <!--                class="btn btn-primary btn-sm"-->
              <!--                data-cy="entityEditButton"-->
              <!--              >-->
              <!--                <fa-icon icon="pencil-alt"></fa-icon>-->
              <!--                <span class="d-none d-md-inline" >Uredi</span>-->
              <!--              </button>-->

              <button type="submit" (click)="delete(pedagog)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Brisanje</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="pedagogs && pedagogs.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
