<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-dete-heading" data-cy="DeteCreateUpdateHeading" jhiTranslate="diplomskiApp.dete.home.createOrEditLabel">
        Create or edit a Dete
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="diplomskiApp.dete.visina" for="field_visina">Visina</label>
          <input type="number" class="form-control" name="visina" id="field_visina" data-cy="visina" formControlName="visina" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="diplomskiApp.dete.tezina" for="field_tezina">Tezina</label>
          <input type="number" class="form-control" name="tezina" id="field_tezina" data-cy="tezina" formControlName="tezina" />
        </div>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="diplomskiApp.dete.id" for="field_id">Id</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="diplomskiApp.dete.formular" for="field_formular">Formular</label>
          <select class="form-control" id="field_formular" data-cy="formular" name="formular" formControlName="formular">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="formularOption.id === editForm.get('formular')!.value?.id ? editForm.get('formular')!.value : formularOption"
              *ngFor="let formularOption of formularsCollection; trackBy: trackFormularById"
            >
              {{ formularOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="diplomskiApp.dete.roditelj" for="field_roditelj">Roditelj</label>
          <select class="form-control" id="field_roditelj" data-cy="roditelj" name="roditelj" formControlName="roditelj">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="roditeljOption.id === editForm.get('roditelj')!.value?.id ? editForm.get('roditelj')!.value : roditeljOption"
              *ngFor="let roditeljOption of roditeljsSharedCollection; trackBy: trackRoditeljById"
            >
              {{ roditeljOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="diplomskiApp.dete.grupa" for="field_grupa">Grupa</label>
          <select class="form-control" id="field_grupa" data-cy="grupa" name="grupa" formControlName="grupa">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="grupaOption.id === editForm.get('grupa')!.value?.id ? editForm.get('grupa')!.value : grupaOption"
              *ngFor="let grupaOption of grupasSharedCollection; trackBy: trackGrupaById"
            >
              {{ grupaOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
