<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="roditelj">
      <h2 data-cy="roditeljDetailsHeading"><span jhiTranslate="diplomskiApp.roditelj.detail.title">Roditelj</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="diplomskiApp.roditelj.id">Id</span></dt>
        <dd>
          <span>{{ roditelj.id }}</span>
        </dd>
        <dt><span>Ime i prezime</span></dt>
        <dd>
          <span>{{ roditelj.user?.firstName }} {{ roditelj.user?.lastName }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <!--      <button type="button" [routerLink]="['/roditelj', roditelj.id, 'edit']" class="btn btn-primary" *jhiHasAuthority>-->
      <!--        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>-->
      <!--      </button>-->
    </div>
  </div>
</div>
