<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="objekat">
      <h2 data-cy="objekatDetailsHeading"><span jhiTranslate="diplomskiApp.objekat.detail.title">Objekat</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="diplomskiApp.objekat.opis">Opis</span></dt>
        <dd>
          <span>{{ objekat.opis }}</span>
        </dd>
        <dt><span jhiTranslate="diplomskiApp.objekat.id">Id</span></dt>
        <dd>
          <span>{{ objekat.id }}</span>
        </dd>
        <dt><span jhiTranslate="diplomskiApp.objekat.adresa">Adresa</span></dt>
        <dd>
          <div *ngIf="objekat.adresa">
            <a [routerLink]="['/adresa', objekat.adresa?.id, 'view']">{{ objekat.adresa?.ulica }} {{ objekat.adresa?.broj }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Nazad</span>
      </button>

      <button type="button" [routerLink]="['/objekat', objekat.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Uredi</span>
      </button>
    </div>
  </div>
</div>
