<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-vaspitac-heading" data-cy="VaspitacCreateUpdateHeading" jhiTranslate="diplomskiApp.vaspitac.home.createOrEditLabel">
        Create or edit a Vaspitac
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="diplomskiApp.vaspitac.datumZaposlenja" for="field_datumZaposlenja"
            >Datum Zaposlenja</label
          >
          <div class="input-group">
            <input
              id="field_datumZaposlenja"
              data-cy="datumZaposlenja"
              type="text"
              class="form-control"
              name="datumZaposlenja"
              ngbDatepicker
              #datumZaposlenjaDp="ngbDatepicker"
              formControlName="datumZaposlenja"
            />
            <button type="button" class="btn btn-secondary" (click)="datumZaposlenjaDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="diplomskiApp.vaspitac.godineIskustva" for="field_godineIskustva">Godine Iskustva</label>
          <input
            type="number"
            class="form-control"
            name="godineIskustva"
            id="field_godineIskustva"
            data-cy="godineIskustva"
            formControlName="godineIskustva"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="diplomskiApp.vaspitac.opis" for="field_opis">Opis</label>
          <input type="text" class="form-control" name="opis" id="field_opis" data-cy="opis" formControlName="opis" />
        </div>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="diplomskiApp.vaspitac.id" for="field_id">Id</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="diplomskiApp.vaspitac.objekat" for="field_objekat">Objekat</label>
          <select class="form-control" id="field_objekat" data-cy="objekat" name="objekat" formControlName="objekat">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="objekatOption.id === editForm.get('objekat')!.value?.id ? editForm.get('objekat')!.value : objekatOption"
              *ngFor="let objekatOption of objekatsSharedCollection; trackBy: trackObjekatById"
            >
              {{ objekatOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
