<div>
  <h2 id="page-heading" data-cy="AdresaHeading">
    <span jhiTranslate="diplomskiApp.adresa.home.title">Adrese</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="diplomskiApp.adresa.home.refreshListLabel">Osvezavanje liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-adresa"
        [routerLink]="['/adresa/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="diplomskiApp.adresa.home.createLabel"> Dodavaj novu adresu</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="adresas?.length === 0">
    <span jhiTranslate="diplomskiApp.adresa.home.notFound">Nijedna adresa nije pronadjena</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="adresas && adresas.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="mesto"><span jhiTranslate="diplomskiApp.adresa.mesto">Mesto</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="ulica"><span jhiTranslate="diplomskiApp.adresa.ulica">Ulica</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="broj"><span jhiTranslate="diplomskiApp.adresa.broj">Broj</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="id"><span jhiTranslate="diplomskiApp.adresa.id">Id</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let adresa of adresas; trackBy: trackId" data-cy="entityTable">
          <td>{{ adresa.mesto }}</td>
          <td>{{ adresa.ulica }}</td>
          <td>{{ adresa.broj }}</td>
          <td>
            <a [routerLink]="['/adresa', adresa.id, 'view']">{{ adresa.id }}</a>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/adresa', adresa.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">Prikaz</span>
              </button>

              <button type="submit" [routerLink]="['/adresa', adresa.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Uredi</span>
              </button>

              <button type="submit" (click)="delete(adresa)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Brisanje</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="adresas && adresas.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
