<div>
  <h2 id="page-heading" data-cy="PricaHeading">
    <span>Price</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Osvezi listu</span>
      </button>

      <button
        *jhiHasAnyAuthority="'ROLE_VASPITAC'"
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-prica"
        [routerLink]="['/plan-price/pisanje-plana']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Zapocni novu pricu </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="pricas?.length === 0">
    <span>Nijedna prica nije pronadjena</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="pricas && pricas.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="diplomskiApp.prica.id">Id</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="planPrice.nazivTeme">
            <span jhiTranslate="diplomskiApp.prica.planPrice">Plan Price</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="planPrice.datumPocetka"><span>Datum pocetka</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="planPrice.datumZavrsetka"><span>Datum zavrsetka</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let prica of pricas; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/prica', prica.id, 'view']">{{ prica.id }}</a>
          </td>
          <td>
            <div *ngIf="prica.planPrice">
              <a [routerLink]="['/plan-price', prica.planPrice?.id, 'view']">{{ prica.planPrice?.nazivTeme }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="prica.planPrice">
              {{ prica.planPrice?.datumPocetka }}
            </div>
          </td>
          <td>
            <div *ngIf="prica.planPrice">
              {{ prica.planPrice?.datumZavrsetka }}
            </div>
          </td>

          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/plan-price', prica.planPrice?.id, 'view']"
                class="btn btn-primary btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">Plan price</span>
              </button>

              <button
                *jhiHasAnyAuthority="'ROLE_VASPITAC'"
                type="submit"
                (click)="pisiPricu(prica)"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">Zapocni pricu</span>
              </button>
              <button
                type="submit"
                [disabled]="prica.konacnaPrica === null"
                (click)="viewKonacnaPrica(prica.id!, prica.konacnaPrica!.id!)"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">Konacna prica</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="pricas && pricas.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
