<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="pedagog">
      <h2 data-cy="pedagogDetailsHeading"><span jhiTranslate="diplomskiApp.pedagog.detail.title">Pedagog</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="diplomskiApp.pedagog.id">Id</span></dt>
        <dd>
          <span>{{ pedagog.id }}</span>
        </dd>
        <dt><span>Ime</span></dt>
        <dd>
          <span>{{ pedagog.user?.firstName }}</span>
        </dd>
        <dt><span>Prezime</span></dt>
        <dd>
          <span>{{ pedagog.user?.lastName }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Nazad</span>
      </button>

      <!--      <button *jhiHasAnyAuthority="'ROLE_DIREKTOR'" type="button" [routerLink]="['/pedagog', pedagog.id, 'edit']" class="btn btn-primary">-->
      <!--        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Uredi</span>-->
      <!--      </button>-->
    </div>
  </div>
</div>
