<div>
  <div class="alert alert-danger" *ngIf="errorVaspitacHasDnevnik" jhiTranslate="register.messages.error.vaspitachasdnevnik">
    <strong>Vaspitac vec ima dnevnik za dati period!</strong> Molimo unesite nov.
  </div>
  <div class="alert alert-success" *ngIf="success">
    <strong>Uspesno kreirana grupa!</strong>
  </div>
  <form name="editForm" role="form" novalidate [formGroup]="editForm">
    <div class="row mb-3">
      <label class="form-label" jhiTranslate="diplomskiApp.dnevnik.pocetakVazenja" for="field_pocetakVazenja">Pocetak Vazenja</label>
      <div class="input-group">
        <input
          id="field_pocetakVazenja"
          data-cy="pocetakVazenja"
          type="text"
          class="form-control"
          name="pocetakVazenja"
          ngbDatepicker
          #pocetakVazenjaDp="ngbDatepicker"
          formControlName="pocetakVazenja"
        />
        <button type="button" class="btn btn-secondary" (click)="pocetakVazenjaDp.toggle()">
          <fa-icon icon="calendar-alt"></fa-icon>
        </button>
      </div>
    </div>

    <div class="row mb-3">
      <label class="form-label" jhiTranslate="diplomskiApp.dnevnik.krajVazenja" for="field_krajVazenja">Kraj Vazenja</label>
      <div class="input-group">
        <input
          id="field_krajVazenja"
          data-cy="krajVazenja"
          type="text"
          class="form-control"
          name="krajVazenja"
          ngbDatepicker
          #krajVazenjaDp="ngbDatepicker"
          formControlName="krajVazenja"
        />
        <button type="button" class="btn btn-secondary" (click)="krajVazenjaDp.toggle()">
          <fa-icon icon="calendar-alt"></fa-icon>
        </button>
      </div>
    </div>
    <div class="row mb-3">
      <label jhiTranslate="diplomskiApp.dnevnik.vaspitac" for="field_vaspitacs">Vaspitac</label>
      <select class="form-control" id="field_vaspitacs" data-cy="vaspitac" multiple name="vaspitacs" formControlName="vaspitacs">
        <option
          [ngValue]="getSelectedVaspitac(vaspitacOption, editForm.get('vaspitacs')!.value)"
          *ngFor="let vaspitacOption of listaVasapitaca"
        >
          {{ vaspitacOption.ime }}
        </option>
      </select>
    </div>
    <button class="btn btn-info" (click)="save()">Sacuvaj</button>

    <div class="row mb-3">
      <label class="form-label">Tip Grupe</label>
      <select (change)="onChange()" class="form-control" name="tipGrupe" formControlName="tipGrupe" id="field_tipGrupe" data-cy="tipGrupe">
        <option [ngValue]="null">{{ 'diplomskiApp.TipGrupe.null' | translate }}</option>
        <option *ngFor="let tipGrupe of tipGrupeValues" [value]="tipGrupe">
          {{ 'diplomskiApp.TipGrupe.' + tipGrupe | translate }}
        </option>
      </select>
    </div>
  </form>
  <div class="tableOrder">
    <div class="tableOrder1">
      Lista dece:
      <table class="table table-striped tableWidth" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
            <th scope="col" jhiSortBy="dete.imeDeteta"><span>Ime deteta</span> <fa-icon icon="sort"></fa-icon></th>
            <th scope="col">
              <span>Dodaj dete</span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let dete of deca" data-cy="entityTable" [ngClass]="{ color: dete.dodato }">
            <td>
              {{ dete.imeDeteta }}
            </td>
            <td class="text-end">
              <div class="btn-group">
                <button type="submit" (click)="addDeteToGroup(dete)" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                  <fa-icon icon="pencil-alt"></fa-icon>
                  <span class="d-none d-md-inline">Dodaj dete u grupu</span>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="tableOrder1">
      Grupa:
      <table class="table table-striped tableWidth" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
            <th scope="col" jhiSortBy="dete.ime"><span>Ime deteta</span> <fa-icon icon="sort"></fa-icon></th>
            <th scope="col">
              <span>Dodaj dete</span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let dete of dodataDeca" data-cy="entityTable" [ngClass]="{ color: dete.dodato }">
            <td>
              {{ dete.imeDeteta }}
            </td>

            <td class="text-end">
              <div class="btn-group">
                <button type="submit" (click)="removeFromGrupa(dete.id)" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                  <fa-icon icon="pencil-alt"></fa-icon>
                  <span class="d-none d-md-inline">Izbaci dete iz grupe</span>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
