<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="konacnaPrica">
      <h2 data-cy="konacnaPricaDetailsHeading"><span jhiTranslate="diplomskiApp.konacnaPrica.detail.title">Konacna Prica</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="diplomskiApp.konacnaPrica.id">Id</span></dt>
        <dd>
          <span>{{ konacnaPrica.id }}</span>
        </dd>
        <dt><span jhiTranslate="diplomskiApp.konacnaPrica.tekst">Tekst</span></dt>
        <dd>
          <span [innerHTML]="konacnaPrica.tekst"></span>
        </dd>
      </dl>
      <ul class="example-card" *ngFor="let komentar of komentarNaPricus">
        <div class="card">
          <dt>
            <span>Datum komentara: {{ komentar.datum }}</span>
          </dt>
          <dd>
            <span>{{ komentar.tekst }}</span>
          </dd>
        </div>
      </ul>
      <div *jhiHasAnyAuthority="'ROLE_PEDAGOG'">
        <dt><span>Unesite komentar:</span></dt>
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
          <textarea class="form-control areaClass" id="w4review" name="w3review" formControlName="tekstKomentara"></textarea>

          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            [disabled]="editForm.invalid || isSaving"
            class="btn btn-primary"
          >
            <fa-icon icon="save"></fa-icon>&nbsp;<span>Sacuvaj promene</span>
          </button>
        </form>
      </div>
      <div *jhiHasAnyAuthority="'ROLE_DIREKTOR'">
        <dt><span>Unesite komentar:</span></dt>
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
          <textarea class="form-control areaClass" id="w4revieiw" name="w3review" formControlName="tekstKomentara"></textarea>

          <button
            type="submit"
            id="savei-entity"
            data-cy="entityCreateSaveButton"
            [disabled]="editForm.invalid || isSaving"
            class="btn btn-primary"
          >
            <fa-icon icon="save"></fa-icon>&nbsp;<span>Sacuvaj promene</span>
          </button>
        </form>
      </div>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Nazad</span>
      </button>

      <button *jhiHasAnyAuthority="'ROLE_VASPITAC'" type="button" class="btn btn-primary" (click)="edit()">
        <!--         [routerLink]="['/konacna-prica', konacnaPrica.id, 'edit']"    -->
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Uredi</span>
      </button>
    </div>
  </div>
</div>
