<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-ne-dolasci-heading" data-cy="NeDolasciCreateUpdateHeading" jhiTranslate="diplomskiApp.neDolasci.home.createOrEditLabel">
        Create or edit a Ne Dolasci
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="diplomskiApp.neDolasci.datum" for="field_datum">Datum</label>
          <div class="input-group">
            <input
              id="field_datum"
              data-cy="datum"
              type="text"
              class="form-control"
              name="datum"
              ngbDatepicker
              #datumDp="ngbDatepicker"
              formControlName="datum"
              [readonly]="true"
            />
            <!--            <button type="button" class="btn btn-secondary" (click)="datumDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>-->
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="diplomskiApp.neDolasci.razlog" for="field_razlog">Razlog</label>
          <input type="text" class="form-control" name="razlog" id="field_razlog" data-cy="razlog" formControlName="razlog" />
        </div>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="diplomskiApp.neDolasci.id" for="field_id">Id</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="diplomskiApp.neDolasci.dete" for="field_dete">Dete</label>
          <select class="form-control" id="field_dete" data-cy="dete" name="dete" formControlName="dete">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="deteOption.id === editForm.get('dete')!.value?.id ? editForm.get('dete')!.value : deteOption"
              *ngFor="let deteOption of detesCollection; trackBy: trackDeteById"
            >
              {{ deteOption.id }}
            </option>
          </select>
        </div>

        <input class="row mb-3" />
        <label class="form-label" jhiTranslate="diplomskiApp.neDolasci.dnevnik" for="field_dnevnik">Dnevnik</label>
        <!--          <input type="number" class="form-control" name="dnevnik" id="field_dnevnik" data-cy="id" formControlName="dnevnik" [readonly]="true" />-->
        <select class="form-control" id="field_dnevnik" data-cy="dnevnik" name="dnevnik" formControlName="dnevnik">
          <option [ngValue]="null"></option>
          <option
            [ngValue]="dnevnikOption.id === editForm.get('dnevnik')!.value?.id ? editForm.get('dnevnik')!.value : dnevnikOption"
            *ngFor="let dnevnikOption of dnevniksSharedCollection; trackBy: trackDnevnikById"
          >
            {{ dnevnikOption.id }}
          </option>
        </select>
      </div>
      <!--      </div>-->

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
