.listaKarti {
  display: inline-block;
}

.titleLeft {
  display: inline-block;
  width: 70%;
}

.titleRight {
  display: inline-block;
  width: 25%;
  background-color: #d3f0db;
  text-align: left;
}
